<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div ng-controller="HomeCtrl">
        <div>
            <span>Name:</span>
            <input ng-model="name">
        </div>

        <div>
            <span>Birthday:</span>
            <input ng-model="birthday">
        </div>

        <div>
            <button ng-click="add()">Save</button>
            <button ng-click="add()">Cancel</button>
        </div>

        <ul>
            <li ng-repeat="contact in contacts">
                <span>{{contact.name}}</span>
            </li>
        </ul>
    </div>

    <script src="node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
</body>
</html>