.context-menu-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.context-menu {
    border: solid 1px;
    display: block;
    background: #fff;
    margin: 0px;
}