.parent {
    width: 20em;
    height: 20em;
    background-color: red;
    padding: 0;
    margin: 0;
    border: none;
}

.child {
    /*box-sizing: border-box;*/
    border: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 10em;
    height: 20em;
}

.child:hover {
    /*border: 4px solid black;*/
    outline: 4px solid black;
    position: relative;
}

.child-left {
    background-color: blue;
}

.child-right {
    background-color: green;
}
